%p 
  Some hints for choosing an image. For best results, the size you pick should correspond to the following dimension: 
%ul
  %li Size 2 corresponds to 1000 x 1025
  %li Size 3 corresponds to 1000 x 783
  %li Size 4 corresponds to 1000 x 513
