.tile_admin
  %h1.heading Live Tiles

  %ul.sortable.tiles
    - @tiles.each do |tile|
      %li.ui-state-default.live.tile{"data-tile-id" => "#{tile.id}"}
        = render 'quick_view', :tile => tile
  %p
    Remember - The sizing convention is based on rows of size 12. This means that each row should add up in size to 12. 

  - if @secret_tiles.present?
    %h1.heading Top Secret Tiles
    %ul.tiles
      - @secret_tiles.each do |tile|
        %li.tile.secret
          = render 'quick_view', :tile => tile
    %br

  = link_to 'New Tile', new_tile_path, :class => 'btn btn-default new_tile'


:javascript
  $(function()
  {
    window.TILE_ADMIN = function(){ }

    TILE_ADMIN.prototype = {
      init: function() 
      {
        $('.sortable').sortable(
        {
          update: function(event, ui)
          {
            var ordered = {};
            $.each($('.sortable li'), function(rank, tile)
            {
              ordered[$(tile).data('tile-id')] = rank;
            });

            $.post('/tiles/reorder', {"tiles": ordered});

          }
        });
      }
    }

    var admin = new TILE_ADMIN();
    admin.init();
  })

