

.row.header
  .logo.col-md-5.col-xs-12.text-theme
    ZE REP TILES

  / .play.glow_btn.col-md-1.col-xs-1

  .row_above_tiles
    .play_all
      PLAY ALL

  .progress_bar_container
    .progress_bar

= render 'shared/loading'

.tiles_area
.previous_group.group
.next_group.group

.row_below_tiles
  .icons
    %i.icon-facebook{"data-href" => "https://www.facebook.com/zereptiles"}
    %i.icon-twitter{"data-href" => "https://twitter.com/zereptiles"}
    %i.icon-tumblr{"data-href" => "http://zereptiles.tumblr.com/"}
    / %i.icon-cloud



.modal{id: "full_tile_modal", "aria-hidden" => true, "tab-index" => "-1"}
  .modal-dialog
    .modal-content
      .modal-body
        = render 'shared/loading'

:javascript
  var media_control = new AUDIO_CONTROL();
  var layout = new TILE_LAYOUT();
  var group_manager = new GROUP_MANAGER();
  var progress_bar = new GROUP_PROGRESS_BAR();
  var resizer = new WINDOW_RESIZER(); 
  var centerer = new WINDOW_CENTERER();

  $(function() {
    var tile_data = JSON.parse('#{@tiles.to_a.to_json(:methods => :thumb, :except => [ :lyrics])}');
    group_manager.init(tile_data, "#{@group.id}");
    media_control.init(); 
    layout.init(group_manager, media_control);

    $('.loader').hide();
    $('.tiles_area').show();

    progress_bar.init($('.progress_bar'), group_manager, layout);

    resizer.init(); 
    centerer.init();
    resizer.resize();
    centerer.center_vertically();
  });
