%h1
	zeReptiles


.tiles_area

:javascript
	$(function() {
		var tiles = JSON.parse('#{@tiles.to_a.to_json}');
		var markup = "";
		$.each(tiles, function(index, tile)
		{
			var c = "tile span" + tile.size.toString();
			markup += "<div class='" + c + "''>" + tile.name + " " + tile.size + "</div>"; 
			
		});
		$('.tiles_area').html(markup);

	})
