
.row.header
	= image_tag "logo.png", :class => "logo col-md-4"
	= image_tag "play_placeholder.png", :class => "play col-md-6"
	.col-md-2.col-xs-12
		%form{:class => "form-search"}
			%input{:class => "input-medium search", :type => "text"}
.tiles_area


:javascript
	$(function() {

		window.TILE_LAYOUT = function() {}
		TILE_LAYOUT.prototype = {
			init: function()
			{
				var tiles = JSON.parse('#{@tiles.to_a.to_json(:methods => :image_url)}');
				var markup = "<div class='row tile-row'>";
				
				var current_row_size = 0; 
				var current_inst = this;
				$.each(tiles, function(index, tile)
				{
					if (current_row_size + tile.size <= 12)
					{
						markup += current_inst.add_tile(tile, false);
						current_row_size += tile.size;
					}
					else 
					{
						markup += current_inst.add_tile(tile, true);
						current_row_size += tile.size - 12;
					}

				});

				$('.tiles_area').html(markup + "</div>");
			},

			add_tile: function(tile, new_row)
			{
				var c = "tile col-xs-12 col-md-" + tile.size.toString();
				var markup = "";

				if (new_row)
				{
					markup += "</div><div class='row tile-row'>"
				}
				markup += "<div class='" + c + "' data-id=" + tile.id + " style='background-image: url(\"" + tile.image_url+ "\")'></div>";
				return markup;
			}

		}

		var tiles = new TILE_LAYOUT();
		tiles.init();
	})
