
.style2
	.row.header
		.logo.col-md-4.col-xs-10
			ZE REP TILES
		.stop.tape_btn.col-md-1.col-xs-1
		.ff.tape_btn.col-md-1.col-xs-1
		.play.tape_btn.col-md-1.col-xs-1
		.rw.tape_btn.col-md-1.col-xs-1

	= render 'shared/loading'
	.tiles_area


.modal{id: "full_tile_modal", "aria-hidden" => true, "tab-index" => "-1"}
	.modal-dialog
		.modal-content
			.modal-header
				%button.close{"data-dismiss" => "modal", "aria-hidden" => true}
					x
				%h3 Tile
			.modal-body
				= render 'shared/loading'
			.modal-footer
				%button.btn{"data-dismiss"=>"modal", "aria-hidden"=>"true"} Close


:javascript
	$(function() {

		window.TILE_LAYOUT = function() {}
		TILE_LAYOUT.prototype = {
			init: function()
			{
				var tiles = JSON.parse('#{@tiles.to_a.to_json(:methods => :thumb, :except => [ :lyrics])}');
				var markup = "<div class='row tile-row'>";
				
				var current_row_size = 0; 
				var current_inst = this;
				$.each(tiles, function(index, tile)
				{
					if (current_row_size + tile.size <= 12)
					{
						markup += current_inst.add_tile(tile, false);
						current_row_size += tile.size;
					}
					else 
					{
						markup += current_inst.add_tile(tile, true);
						current_row_size += tile.size - 12;
					}

				});

				$('.tiles_area').html(markup + "</div>");

				$('.tile').on('click', function()
				{
					$('#full_tile_modal').modal().show();
					
					var data = $(this).data();
					var tile_id = data['id']; 
					var media_url = data['media_url'];

					$.get( "tiles/" + tile_id + "/full_tile", function( data ) 
					{
						$('#full_tile_modal .modal-body').html(data + "<div class='container'></div>");

		        $('.container').html('<iframe src="' + media_url + '?autoplay=true" width="100%" height="100%" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>');
					});


				})
			},

			add_tile: function(tile, new_row)
			{
				var c = "tile col-xs-12 col-md-" + tile.size.toString();
				var markup = "";

				if (new_row)
				{
					markup += "</div><div class='row tile-row'>"
				}
				markup += "<div class='" + c + "' data-id='" + tile.id + "' data-media_url='" + tile.media_url + "' style='background-image: url(\"" + tile.thumb+ "\")'><div class='play_tile'>0<span class='play-icon'></span><div class='btm-row'><span class='share-icon'></span><span class='expand-icon'></span></div></div></div>";
				return markup;
			}
		}

		window.AUDIO_CONTROL = function() {}
		AUDIO_CONTROL.prototype = {
			playing: false,
			ffwding: false,
			audioElement: document.createElement('audio'),

			init: function()
			{
				
				var current_inst = this;

				$('.play').on('click', function()
				{
					current_inst.playing = current_inst.toggle(this, current_inst.playing);
				});

				$('.stop').on('click', function()
				{
					current_inst.toggle($('.play'), true);
					current_inst.playing = false;
				});
			}, 

			toggle: function(button, state)
			{
				if(!state)
				{
					$(button).addClass('playing');
					return true;
				}
				else 
				{
					$(button).removeClass('playing');
					return false;
				}
			},

		}

		var tiles = new TILE_LAYOUT();
		tiles.init();

		var ctrls = new AUDIO_CONTROL();
		ctrls.init(); 

		$('.style2 .loader').hide();
		$('.tiles_area').show();
	})
