
.row.header
	= image_tag "logo.png", :class => "logo span4"
	= image_tag "play_placeholder.png", :class => "play span7"
	%form{:class => "form-search"}
		%input{:class => "input-medium search", :type => "text"}
.tiles_area


:javascript
	$(function() {
		var tiles = JSON.parse('#{@tiles.to_a.to_json}');
		var markup = "";
		$.each(tiles, function(index, tile)
		{
			var c = "tile span" + tile.size.toString();
			markup += "<div class='" + c + "''>" + tile.name + " " + tile.size + "</div>"; 
			
		});
		$('.tiles_area').html(markup);

	})
