
.style2
	.row.header
		.logo.col-md-4.col-xs-10
			ZE REP TILES
		.play.glow_btn.col-md-1.col-xs-1
		/ .stop.tape_btn.col-md-1.col-xs-1
		/ .ff.tape_btn.col-md-1.col-xs-1
		/ .play.tape_btn.col-md-1.col-xs-1
		/ .rw.tape_btn.col-md-1.col-xs-1
		/ .push_button
		
	= render 'shared/loading'
	.tiles_area


.modal{id: "full_tile_modal", "aria-hidden" => true, "tab-index" => "-1"}
	.modal-dialog
		.modal-content
			/ .modal-header
			/ 	%button.close{"data-dismiss" => "modal", "aria-hidden" => true}
			/ 		x

			.modal-body

				= render 'shared/loading'

:javascript
	var CTRLS = new AUDIO_CONTROL();
	var TILES = new TILE_LAYOUT();
	$(function() {

		
		CTRLS.init(); 
		TILES.init('#{@tiles.to_a.to_json(:methods => :thumb, :except => [ :lyrics])}', CTRLS);

		$('.style2 .loader').hide();
		$('.tiles_area').show();
	})
