
body.body
{

  // background: image-url("background.png") no-repeat center center fixed;
  // background: image-url("scratch_background.png") no-repeat center center fixed;
  // -webkit-background-size: cover;
  // -moz-background-size: cover;
  // -o-background-size: cover;
  // background-size: cover;
  background: image-url("pink_background.png") repeat;
  // background: image-url('http://kimasendorf.com/12c/images/12c-9_10_1_13_31%20Kopie.gif') repeat center;
  color: black;


	.logo 
	{
	  color:#fffc00; 
		@media screen and (max-width: 769px) 
		{
			font-size: 90px;
		}
		@media screen and (min-width: 770px)
		{
	  	font-size: 120px; 
		}
	  letter-spacing: 2px; 
	  font-family: "Single Sleeve"; 
	  -webkit-text-stroke: 4px black;
	  line-height: 88px;
		text-shadow: 1px 3px 2px black, 7px 6px 9px #333;
	}
	.push_button
	{
		margin-left: 3px;
		width: 50px;
		height: 64px;
		top: 12px;
		float: right;
		cursor: pointer;
		background-repeat: no-repeat;
		background-size: 80%;
		background: image-url('pushbutton_play.png');
	}
	.tape_btn
	{
		margin-left: 3px;
		width: 50px;
		height: 64px;
		top: 12px;
		float: right;
		cursor: pointer;
		background-repeat: no-repeat;
		background-size: 80%;
		&:active
		{
			height: 59px;
		}
	}

	.glow_btn
	{
		margin-left: 3px;
		width: 85px;
		height: 86px;
		top: 12px;
		float: right;
		cursor: pointer;
		background-repeat: no-repeat;
		background-size: 80%;		
	}

	.row_above_tiles
	{
		position: absolute;
		margin: 72px auto;
		@media screen and (max-width: 769px)
		{
			display: none;
			width: 100%;
		}
		
		@media screen and (min-width: 770px)
		{
			width: 1200px;
		}
		i
		{
			cursor: pointer;			
			margin-right: 4px;
			-webkit-text-stroke: rgba(250, 250, 0, .6);
			-webkit-text-stroke-width: 1.5px;
		}

		.groups
		{
			float: left;
			@media screen and (min-width: 770px)
			{
				padding-left: 378px;
			}
			i
			{
				font-size: 20px;
			}
		}
		.icons
		{
			float: right;
			font-size: 25px;
			i
			{
				float: right;
			}
		}
	}
	.play
	{
		color: red;
		&:after
		{
			content:"Play";
		}
		// background: image-url('play_glow.svg');
		font-size: 10px;
		&:hover
		{
			// background: image-url('hover_glow.svg');
			cursor: pointer;
		}
		&:active
		{
			// background: image-url('hover_glow.svg');
		}
		&.playing
		{
			// background: image-url('pause_glow.svg');
			&:hover
			{
				// background: image-url('pause_hover_glow.svg');
			}
			&:after
				{
					content:"Pause";
				}
		}
	}
	.ff
	{
		background: image-url('ff_neutral.svg');
		&:hover
		{
			background: image-url('ff_hover.svg');
		}
		&:active
		{
			background: image-url('ff_play.svg');
		}
	}
	.rw
	{
		background: image-url('rw_neutral.svg');
		&:hover
		{
			background: image-url('rw_hover.svg');
		}
		&:active
		{
			background: image-url('rw_play.svg');
		}
	}
	.stop
	{
		background: image-url('stop_neutral.svg');
		&:hover
		{
			background: image-url('stop_hover.svg');
		}
		&:active
		{
			background: image-url('stop_play.svg');
		}
	}

	.header
	{
		@media screen and (max-width: 769px) 
		{
			width: 100%;
		}
		@media screen and (min-width: 770px)
		{
			width: 1200px;
		}
		margin: 10px auto;
	}

	.tiles_area
	{
		@media screen and (max-width: 769px) 
		{
			width: 100%;
		}
		@media screen and (min-width: 770px)
		{
			width: 1200px;
		}
		display: none;
		margin: 0 auto;

		.tile-row
		{
			.tile:first-child
			{
				margin-left: 0;
			}
			.tile
			{
				font-size: 13px;
				border: solid rgba(0,0,0,0) 4.5px;
				padding: 20px;
				height: 205px;
				display: inline-block;
				background-repeat: no-repeat;
				background-size: 100% 100%;

				&:before
				{
	        content:"";
	        display:block;
	        position:absolute;
	        z-index:-1;
	        top:-1px;
	        left:-1px;
	        right:-1px;
	        bottom:-1px;
	        border:1px solid black;
				}

				&:hover
				{
					padding: 0; 
					.play_tile
					{
						display: block;
						width: 100%;
						height: 100%;
						
						background-color: rgba(0,0,0,.5);
						color: rgba(255,255,255,0);
					}
				}

				.play_tile
				{
					display: none;
					span.play-icon
					{
						display: block;
						margin: 50px auto;
					}
					.btm-row
					{
						position: absolute;
						left: 0;
						right: 0; 
						display: block;
						bottom: 0;
						height: 30px;
						margin: 5px;
						span.share-icon
						{
							position: absolute; 
							left: 0px;
							bottom: 0px;
						}
						span.expand-icon
						{
							position: absolute; 
							bottom: 0px;
							right: 0px;
						}
					}
				}
			}
			.tile.playing
			{
				// border: solid #26a9e0 4.5px;
				border: solid yellow 4.5px;
				&:hover
				{
					padding: 0; 
					.play_tile
					{
						span.play-icon
						{
							background: image-url('pause_icon.png');
							&:hover
							{
								background: image-url('pause_icon_white.png');
							}
						}
					}
				}
			}
		}
	}

	iframe#loading_area
	{
		display: none;
	}
}


span.play-icon
{
	background: image-url('play.png');
	width: 91px;
	height: 91px;
	&:hover
	{
		background: image-url('white_play_icon.png');
		cursor: pointer;
	}
}

span.expand-icon
{
	background: image-url('expand.png');
	width: 30px;
	height: 30px;
	&:hover
	{
		background: image-url('white_expand_icon.png');		
		cursor: pointer;
	}
}

span.share-icon
{
	background: image-url('share.png');
	width: 40px;
	height: 31px;
}

.modal-dialog
{
	.modal-content
	{
		.modal-body
		{
			&:button
			{
				&:hover
				{
					cursor: pointer;
				}
			}
			.full
			{
				.media_type
				{
					display: none;
				}
				
				.image_block
				{
					.img
					{
						width: 66%;
					}
					.block
					{
						padding: 0px 0 0 20px;
						.header
						{
							font-family: 'Distant Galaxy';
							font-size: 20px;
						}
						.body
						{
							overflow-y: scroll;
							p
							{
								font-family: 'PT-Sans';
								font-size: 14px;
								line-height: 19px;
							}
						}
					}
				}
			}
		}
	}
}
