body.body
{
	background-color: #2b2929;
	color: #eee;

	.header
	{
		margin: 36px 36px 36px 36px;
		.logo
		{
			// margin: 0px 36px 0px 0px;
		}
		.play
		{
			// margin: 0px 36px 0px 0px;
		}
		form.form-search
		{
			.search
			{
				height: 35px;
				margin-top: 1px;
				background-color: #222020;
				border-color: #222020;
			}
		}
	}

	.tiles_area
	{
		// width: 1200px;
		margin-left: 36px;
		.tile
		{

			font-size: 13px;
			border: solid #bbb 1px;
			padding: 20px;
			margin: 3px;
			height: 200px;
			display: inline-block;

		}
	}
}
