// Place all the styles related to the tiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.tile_admin
{
	margin: 36px;
	font-size: 13px;
	ul.tiles
	{
		list-style: none;
		li.live
		{
			height: 100%;
			padding: 5px;
			margin: 2px 0 2px 0;
			width: 300px;
		}
		li.secret
		{
			background-color: #FEFFCD;
			height: 100%;
			padding: 5px;
			margin: 2px 0 2px 0;
			width: 300px;			
		}
	}
}