// Place all the styles related to the tiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.tile_admin
{
	margin: 36px;
	font-size: 13px;
	background-color: white;
	border: 3px solid black;
	padding: 30px;

	ul.tiles
	{
		width: 1000px;
		list-style: none;
		li
		{
			h4.tile_name
			{
				text-decoration: underline;
			}
			height: 100%;
			padding: 5px;
			margin: 2px 0 2px 0;

		}
		li.live
		{
			width: 230px;
			display: inline-block;
			cursor: move;
		}
		li.secret
		{
			background-color: #FEFFCD;
			width: 300px;			
		}
	}
	h1.heading, .new_tile
	{
		margin-left: 40px;
	}

	.sizing_area
	{
		border: 2px solid black;
		width: 275px;
		height: 205px;
		margin: 0px auto;
		background-color: #aaa;
	}
}